{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-add-country")) %}

<h1 class="display-4">{{ translate("txt-add-country") }}</h1>

{% include 'program/partial/form/country' %}