<h1>Program Call</h1>
<dl>
    <dt>Total number of Projects</dt>
    <dd>{{ call.poOpenDate|date("d-m-Y") }}</dd>
    <dt>Total number of partners</dt>
    <dd>{{ call.poOpenDate|date("d-m-Y") }}</dd>
    <dt>Total National Funding</dt>
    <dd>{{ call.poOpenDate|date("d-m-Y") }}</dd>
    <dt>Total EU Funding</dt>
    <dd>{{ call.poOpenDate|date("d-m-Y") }}</dd>
</dl>
