<h2>Program Call {{ call.call }} </h2>
<dl>
    <dt>Program Call</dt>
    <dd>{{ call.poOpenDate|date("d-m-Y") }}</dd>
    <dt>Total number of project</dt>
    <dd>{{ call.project.count }}</dd>
    <dt>Total number of partners</dt>
    <dd>23</dd>
    <dt>Total National Funding</dt>
    <dd>4352523 M €</dd>
    <dt>Total EU Funding</dt>
    <dd>1245252 M €</dd>
</dl>
