<h3>Call Information</h3>
<dl class="project">
    <dt>Total number of projects</dt>
    <dd>{{ projects }}</dd>
    <dt>Total number of partners</dt>
    <dd>{{ partners }}</dd>
    <dt>National Funding</dt>
    <dd>{{ funding_national|round(2, 'floor') }} &euro;</dd>
    <dt>EU Funding</dt>
    <dd>{{ funding_eu|round(2, 'floor') }} &euro;</dd>
</dl>
