{# Initialize the program call here #}
{% set programService = programServiceProxy(program) %}

<h1>Program Call</h1>
<dl>
    <dt>Total number of Projects</dt>
    <dd>{# Show number of projects here #}

    </dd>
    <dt>Total number of partners</dt>
    <dd>{# Show number of partners here #}</dd>
    <dt>Total National Funding</dt>
    <dd>{# Show total national funding #}</dd>
    <dt>Total EU Funding</dt>
    <dd>{# Show total national funding #}</dd>
</dl>
