<phpunit bootstrap="tests/ProgramTest/Bootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         verbose="true"
         stopOnFailure="false"
         processIsolation="false"
         backupGlobals="false"
         syntaxCheck="true"
>
    <testsuite name="debranova/program Test Suite">
        <directory>./tests/ProgramTest</directory>
    </testsuite>

    <php>
        <const name="DEBRANOVA_HOST" value="test"/>
        <const name="DEBRANOVA_APP" value="test"/>
        <const name="DEBRANOVA_APPLICATION" value="test"/>
        <const name="DEBRANOVA_ENV" value="development"/>
        <const name="TEST_SUITE" value="full"/>
    </php>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="./clover.xml"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    </logging>
</phpunit>
