<h2>{{ translate("txt-call-selector") }}</h2>

{% set programId = 0 %}

<ul class="nav nav-pills">
    {% for call in calls|reverse %}
        {% if call.program.id != programId %}
            <li {% if programId == call.program.id %}class="active"{% endif %}>{{ programLink(call.program, 'view-list','name') }}</li>
        {% endif %}
        <li {% if callId == call.id %}class="active"{% endif %}>{{ callLink(call, 'view-list', 'name') }}</li>
        {% if call.program.id != programId %}
        {% endif %}
        {% set programId = call.program.id %}
    {% endfor %}
</ul>