<h2>{{ translate("txt-call-selector") }}</h2>

{% set programId = 0 %}

<ul class="nav flex-column nav-pills nav-stacked">
    {% for call in calls|reverse %}

        {% set classes = ['nav-link'] %}
        {% if callId == call.id %}
            {% set classes = classes|merge(['active']) %}
        {% endif %}

        <li class="nav-item {% if callId == call.id %}active{% endif %}">{{ callLink(call, 'view-list', 'name', classes) }}</li>
    {% endfor %}
</ul>
