{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-edit-session")) %}

<h1>{{ translate("txt-edit-session") }}</h1>

{% include 'program/partial/form/session' with {'edit':true} %}
