{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-edit-funder")) %}

<h1>{{ translate("txt-edit-funder") }}</h1>

{% include 'program/partial/form/funder'  %}
