{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-edit-%s")|format(entity.get('entity_name'))) %}

<h1>{{ translate("txt-edit-%s")|format(entity.get('entity_name')) }}</h1>

{% include 'program/partial/form/' ~ entity.get('underscore_entity_name')
with [{'entity': entity}, {'form': form}] %}
