<h3>{{ translate("txt-call-%s-project-list")|format(call.call) }}</h3>

<div class="row">
    {% for project in projects %}
    <div class="col-md-2">
        <div class="thumbnail">
            {% set projectImage = '<div class="information-box-image">' ~ projectLogo(project, 'img-responsive') ~ '</div>' %}
            {{ projectLink(project,'view','alternativeShow',null,projectImage) }}
            <p class="information-box-title text-center">
                {{ projectLink(project,'view','name-without-number') }}
            </p>
        </div>
    </div>
    {% if loop.index is divisibleby(6) %}
</div>
<div class="row">
    {% endif %}
    {% endfor %}
</div>
